body {
    
    font-family: 'Segoe UI', Arial, sans-serif;
    background: #f4f6f9;
    margin: 0;
    padding: 0;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: center;
    gap: 30px;
    background: #003366;
    padding: 10px 20px;
    align-items: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    color: gold;
}

.container {
    width: 90%;
    max-width: 900px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
h1 {
    text-align: center;
    color: #555;
}

h2 {
    text-align: center;
    color: #555;
}

h3 {
    color: #003366;
}

.card h2, .card h3 {
    color: #111;
}

.card p {
    color: #333;
    font-weight: 500;
}

.section {
    margin-top: 20px;
    padding: 15px;
    border-left: 5px solid #003366;
    background: #f9f9f9;
}


.menu a {
    display: block;
    padding: 10px;
    margin: 5px 0;
    background: #003366;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.menu li {
    display: block;
    padding: 10px;
    margin: 5px 0;
    background: #003366;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.menu a:hover {
    color: black;
    background: #2e8b57;
}

.footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    color:#777 ;
}

.arrow {
    font-size: 22px;
    color: white;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
}

th {
    background-color: #333;
    color: white;
    padding: 12px;
}

td {
    padding: 10px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #eee;
}

tr:hover {
    background-color: #ddd;
}


ul {
    padding-left: 20px;
}

ul li a {
    display: block;
    padding: 12px;
    margin: 10px 0;
    background: #0b3c6f;
    color: white;
    border-radius: 6px;
    text-decoration: none;
}

ul li a:hover {
    background: #2e8b57;
    color: white;
    transition: 0.3s;
}


@media (max-width:600px) {
    .container {
        width: 95%;
        margin: auto;
    }

    .card {
        padding: 15px;
        border-radius: 10px;
    }

    ul li a {
        font-size: 14px;
        padding: 10px;
    }

    h1, h2 {
        font-size: 18px;
        text-align: center;
    }
}